<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="w-1/2 mx-auto mt-28 px-5 relative">
      <div id="flash" class="mb-8 absolute right-0 -top-20 w-full">
        <%= flash_alert %>
      </div>
      <div class="flex justify-evenly"><%= yield %></div>
    </main>
  </body>
</html>
